AllTheThings.iml
.idea/workspace.xml
.idea/modules.xml
.idea/misc.xml
.idea/inspectionProfiles/profiles_settings.xml
db/
icon.png
*.user
.vs/
obj/
**/desktop.ini
*.bak
__pycache__
/.vscode/settings.json
.venv
